<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Is done:</strong>
    <%= todo.is_done %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= todo.deadline %>
  </p>

</div>
